canvas {
    border: 3px solid whitesmoke;
}

div {
    text-align: center;
}

body {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
}

a>img {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
}