body {
    background-image: url(imagen/estrellas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}


.Choose {
    text-align: center;
    margin-top: 40px;
}

.Choose>img {
    width: 80%;
}


a>img {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
}